{{>header}}


<main>
  <div class="container py-2">
 {{>navbar}}

    <h1 class="h1 fw-bolder display-1 text-center pt-4 text-danger">{{title}}</h1>
      <h3 class="h3 fw-bolder display-3 text-center pt-5 ">{{content}}</h2>
       <h3 class="h3 fw-bolder display-3 text-center pt-1 ">{{description}}</h2>
  </div>
</main>


{{>footer}}