{{>header}}

  <main>
  <div class="container py-2">
 {{>navbar}}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{title}}</h1>
        <p class="col-md-8 fs-4">{{content}}</p>
        <img alt="profile" src="./assets/images/pro.jpg" width="200" height="200" class="rounded" />
      </div>
      <p class="text-small">Created by Johnson Mima</p>
    </div>

  
  </div>
</main>
    

{{>footer}}