{{>header}}


<main>
  <div class="container py-2">
 {{>navbar}}

    <h1 class="h1 fw-bolder display-1 text-center pt-4">{{title}}</h1>
    <h2 class="h1 fw-bolder display-5 text-center pt-4">{{createdBy}}</h2>


  </div>
</main>


{{>footer}}